In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
liver_disease=pd.read_csv('dataset.csv')

In [3]:
liver_disease.head()

,Age,sex,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,1,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,1,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,0,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,1,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,0,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [4]:
liver_disease.tail()

,Age,sex,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
578,60,1,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,1,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,1,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,1,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,0,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [5]:
liver_disease.shape

(583, 11)

In [6]:
liver_disease.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   sex                         583 non-null    int64
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     583 non-null    int64
dtypes: float64(5), int64(6)
memory usage: 50.2 KB

In [7]:
liver_disease.isnull().sum()

Age                           0
sex                           0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [8]:
liver_disease.describe()

,Age,sex,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
count,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,579.000000,583.000000
mean,44.746141,0.677530,3.298799,1.486106,290.576329,80.713551,109.910806,6.483190,3.141852,0.947064,1.286449
std,16.189833,0.467823,6.209522,2.808498,242.937989,182.620356,288.918529,1.085451,0.795519,0.319592,0.452490
min,4.000000,0.000000,0.400000,0.100000,63.000000,10.000000,10.000000,2.700000,0.900000,0.300000,1.000000
25%,33.000000,0.000000,0.800000,0.200000,175.500000,23.000000,25.000000,5.800000,2.600000,0.700000,1.000000
50%,45.000000,1.000000,1.000000,0.300000,208.000000,35.000000,42.000000,6.600000,3.100000,0.930000,1.000000
75%,58.000000,1.000000,2.600000,1.300000,298.000000,60.500000,87.000000,7.200000,3.800000,1.100000,2.000000
max,90.000000,1.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,2.000000

In [9]:
liver_disease['Dataset'].value_counts()

Dataset
1    416
2    167
Name: count, dtype: int64

In [10]:
X = liver_disease.drop(columns='Dataset', axis =1)
Y= liver_disease['Dataset']

In [11]:
print(X)

     Age  sex  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
0     65    1              0.7               0.1                   187
1     62    1             10.9               5.5                   699
2     62    0              7.3               4.1                   490
3     58    1              1.0               0.4                   182
4     72    0              3.9               2.0                   195
..   ...  ...              ...               ...                   ...
578   60    1              0.5               0.1                   500
579   40    1              0.6               0.1                    98
580   52    1              0.8               0.2                   245
581   31    1              1.3               0.5                   184
582   38    0              1.0               0.3                   216

     Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Protiens  \
0                          16                          18             6.8
1                          64                         100             7.5
2                          60                          68             7.0
3                          14                          20             6.8
4                          27                          59             7.3
..                        ...                         ...             ...
578                        20                          34             5.9
579                        35                          31             6.0
580                        48                          49             6.4
581                        29                          32             6.8
582                        21                          24             7.3

     Albumin  Albumin_and_Globulin_Ratio
0        3.3                        0.90
1        3.2                        0.74
2        3.3                        0.89
3        3.4                        1.00
4        2.4                        0.40
..       ...                         ...
578      1.6                        0.37
579      3.2                        1.10
580      3.2                        1.00
581      3.4                        1.00
582      4.4                        1.50

[583 rows x 10 columns]

In [12]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
578    2
579    1
580    1
581    1
582    2
Name: Dataset, Length: 583, dtype: int64

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [14]:
print(X.shape, X_train.shape, X_test.shape)

(583, 10) (466, 10) (117, 10)

In [15]:
print(X_train.isnull().sum())

Age                           0
sex                           0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
dtype: int64

In [16]:
X_train = X_train.dropna()
Y_train = Y_train.dropna()

In [17]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')  # Or 'median', 'most_frequent', etc.
X_train = imputer.fit_transform(X_train)

In [18]:
model = LogisticRegression()

In [19]:
print("Shape of X_train:", X_train.shape)
print("Shape of Y_train:", Y_train.shape)
if X_train.shape[0] != Y_train.shape[0]:
    print("Number of samples in X_train and Y_train are inconsistent.")
    # Perform the necessary steps to align the data
    # For example, you can remove the extra samples from X_train and Y_train
    if X_train.shape[0] > Y_train.shape[0]:
        X_train = X_train[:Y_train.shape[0]]
    else:
        Y_train = Y_train[:X_train.shape[0]]
    print("After alignment:")
    print("Shape of X_train:", X_train.shape)
    print("Shape of Y_train:", Y_train.shape)

Shape of X_train: (462, 10)
Shape of Y_train: (466,)
Number of samples in X_train and Y_train are inconsistent.
After alignment:
Shape of X_train: (462, 10)
Shape of Y_train: (462,)

In [20]:
model.fit(X_train, Y_train)

c:\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [21]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [22]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.7142857142857143

In [23]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

c:\Python311\Lib\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [24]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.6752136752136753

In [25]:
input_data = (62,0,0,140,268,0,0,160,0,3.6)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a liver Disease')
else:
  print('The Person has liver Disease')

[1]
The Person has liver Disease

In [26]:
import pickle

In [27]:
filename = 'liver_disease_model.sav'
pickle.dump(model, open(filename, 'wb' ))

In [28]:
loaded_model = pickle.load(open('liver_disease_model.sav', 'rb'))

In [29]:
for column in X.columns:
  print(column)

Age
sex
Total_Bilirubin
Direct_Bilirubin
Alkaline_Phosphotase
Alamine_Aminotransferase
Aspartate_Aminotransferase
Total_Protiens
Albumin
Albumin_and_Globulin_Ratio